<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/the_watch_tower?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <!-- Drop and re-create the database schema on startup -->
<!--        <property name="hbm2ddl.auto">create</property>-->


        <mapping class="com.watchtower_machine.model.DetailSpot" />
<!--        <mapping class="com.fr.adaming.entity.Bateau" />-->
<!--        <mapping class="com.fr.adaming.entity.FeuilleDeRoute" />-->
<!--        <mapping class="com.fr.adaming.entity.Ravitaillement" />-->
<!--        <mapping class="com.fr.adaming.entity.Pillage" />-->
<!--        <mapping class="com.fr.adaming.entity.Stock" />-->
<!--        <mapping class="com.fr.adaming.entity.Operation" />-->



    </session-factory>
</hibernate-configuration>